[class^="webIcon-"], [class*=" webIcon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.webIcon-stack {
	width: 32px;
	height: 32px;
}
.webIcon-barcode {
	width: 32px;
	height: 32px;
}
.webIcon-qrcode {
	width: 32px;
	height: 32px;
}
.webIcon-location {
	width: 32px;
	height: 32px;
}
.webIcon-location2 {
	width: 32px;
	height: 32px;
}
.webIcon-compass {
	width: 32px;
	height: 32px;
}
.webIcon-bubble {
	width: 32px;
	height: 32px;
}
.webIcon-spinner {
	width: 32px;
	height: 32px;
}
.webIcon-spinner2 {
	width: 32px;
	height: 32px;
}
.webIcon-binoculars {
	width: 32px;
	height: 32px;
}
.webIcon-cogs {
	width: 32px;
	height: 32px;
}
.webIcon-target {
	width: 32px;
	height: 32px;
}
.webIcon-earth {
	width: 32px;
	height: 32px;
}
.webIcon-eye {
	width: 32px;
	height: 32px;
}
.webIcon-eyeBlocked {
	width: 32px;
	height: 32px;
}
.webIcon-share {
	width: 32px;
	height: 32px;
}
